<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.edu.dao.UserMapper">

    <select id="login" resultType="com.offcn.edu.pojo.User">
        select *
        from user
        where phone = #{phone}
          and password = #{password} limit 0,1
    </select>

    <select id="getUserByUsername" resultType="com.offcn.edu.pojo.User">
        select *
        from user
        where username = #{username} limit 0,1
    </select>
</mapper>
